wsdl/ERP.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.legacy.apsh.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.legacy.apsh.com/" name="ERPServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.legacy.apsh.com/" schemaLocation="http://localhost:8086/ERP?xsd=1"/>
</xsd:schema>
</types>
<message name="getItemService">
<part name="parameters" element="tns:getItemService"/>
</message>
<message name="getItemServiceResponse">
<part name="parameters" element="tns:getItemServiceResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="getResourceService">
<part name="parameters" element="tns:getResourceService"/>
</message>
<message name="getResourceServiceResponse">
<part name="parameters" element="tns:getResourceServiceResponse"/>
</message>
<message name="getProductService">
<part name="parameters" element="tns:getProductService"/>
</message>
<message name="getProductServiceResponse">
<part name="parameters" element="tns:getProductServiceResponse"/>
</message>
<portType name="ERPService">
<operation name="getItemService">
<input wsam:Action="http://service.legacy.apsh.com/ERPService/getItemServiceRequest" message="tns:getItemService"/>
<output wsam:Action="http://service.legacy.apsh.com/ERPService/getItemServiceResponse" message="tns:getItemServiceResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.legacy.apsh.com/ERPService/getItemService/Fault/Exception"/>
</operation>
<operation name="getResourceService">
<input wsam:Action="http://service.legacy.apsh.com/ERPService/getResourceServiceRequest" message="tns:getResourceService"/>
<output wsam:Action="http://service.legacy.apsh.com/ERPService/getResourceServiceResponse" message="tns:getResourceServiceResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.legacy.apsh.com/ERPService/getResourceService/Fault/Exception"/>
</operation>
<operation name="getProductService">
<input wsam:Action="http://service.legacy.apsh.com/ERPService/getProductServiceRequest" message="tns:getProductService"/>
<output wsam:Action="http://service.legacy.apsh.com/ERPService/getProductServiceResponse" message="tns:getProductServiceResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.legacy.apsh.com/ERPService/getProductService/Fault/Exception"/>
</operation>
</portType>
<binding name="ERPServicePortBinding" type="tns:ERPService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getProductService">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getResourceService">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getProductService">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="ERPServiceService">
<port name="ERPServicePort" binding="tns:ERPServicePortBinding">
<soap:address location="http://localhost:8086/ERP"/>
</port>
</service>
</definitions>