wsdl/ERP.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.legacy.apsh.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.legacy.apsh.com/" name="ERPServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.legacy.apsh.com/" schemaLocation="http://localhost:8086/ERP?xsd=1"/>
</xsd:schema>
</types>
<message name="getItemByCode">
<part name="parameters" element="tns:getItemByCode"/>
</message>
<message name="getItemByCodeResponse">
<part name="parameters" element="tns:getItemByCodeResponse"/>
</message>
<message name="getProductByCode">
<part name="parameters" element="tns:getProductByCode"/>
</message>
<message name="getProductByCodeResponse">
<part name="parameters" element="tns:getProductByCodeResponse"/>
</message>
<message name="getProductAll">
<part name="parameters" element="tns:getProductAll"/>
</message>
<message name="getProductAllResponse">
<part name="parameters" element="tns:getProductAllResponse"/>
</message>
<message name="getResourceAll">
<part name="parameters" element="tns:getResourceAll"/>
</message>
<message name="getResourceAllResponse">
<part name="parameters" element="tns:getResourceAllResponse"/>
</message>
<message name="getItemAll">
<part name="parameters" element="tns:getItemAll"/>
</message>
<message name="getItemAllResponse">
<part name="parameters" element="tns:getItemAllResponse"/>
</message>
<message name="getResourceByCode">
<part name="parameters" element="tns:getResourceByCode"/>
</message>
<message name="getResourceByCodeResponse">
<part name="parameters" element="tns:getResourceByCodeResponse"/>
</message>
<portType name="ERPService">
<operation name="getItemByCode">
<input wsam:Action="http://service.legacy.apsh.com/ERPService/getItemByCodeRequest" message="tns:getItemByCode"/>
<output wsam:Action="http://service.legacy.apsh.com/ERPService/getItemByCodeResponse" message="tns:getItemByCodeResponse"/>
</operation>
<operation name="getProductByCode">
<input wsam:Action="http://service.legacy.apsh.com/ERPService/getProductByCodeRequest" message="tns:getProductByCode"/>
<output wsam:Action="http://service.legacy.apsh.com/ERPService/getProductByCodeResponse" message="tns:getProductByCodeResponse"/>
</operation>
<operation name="getProductAll">
<input wsam:Action="http://service.legacy.apsh.com/ERPService/getProductAllRequest" message="tns:getProductAll"/>
<output wsam:Action="http://service.legacy.apsh.com/ERPService/getProductAllResponse" message="tns:getProductAllResponse"/>
</operation>
<operation name="getResourceAll">
<input wsam:Action="http://service.legacy.apsh.com/ERPService/getResourceAllRequest" message="tns:getResourceAll"/>
<output wsam:Action="http://service.legacy.apsh.com/ERPService/getResourceAllResponse" message="tns:getResourceAllResponse"/>
</operation>
<operation name="getItemAll">
<input wsam:Action="http://service.legacy.apsh.com/ERPService/getItemAllRequest" message="tns:getItemAll"/>
<output wsam:Action="http://service.legacy.apsh.com/ERPService/getItemAllResponse" message="tns:getItemAllResponse"/>
</operation>
<operation name="getResourceByCode">
<input wsam:Action="http://service.legacy.apsh.com/ERPService/getResourceByCodeRequest" message="tns:getResourceByCode"/>
<output wsam:Action="http://service.legacy.apsh.com/ERPService/getResourceByCodeResponse" message="tns:getResourceByCodeResponse"/>
</operation>
</portType>
<binding name="ERPServicePortBinding" type="tns:ERPService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getItemByCode">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getProductByCode">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getProductAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getResourceAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getItemAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getResourceByCode">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ERPServiceService">
<port name="ERPServicePort" binding="tns:ERPServicePortBinding">
<soap:address location="http://localhost:8086/ERP"/>
</port>
</service>
</definitions>