wsdl/Shift.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.legacy.apsh.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.legacy.apsh.com/" name="ShiftServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.legacy.apsh.com/" schemaLocation="http://localhost:8085/Shift?xsd=1"/>
</xsd:schema>
</types>
<message name="getShiftAll">
<part name="parameters" element="tns:getShiftAll"/>
</message>
<message name="getShiftAllResponse">
<part name="parameters" element="tns:getShiftAllResponse"/>
</message>
<message name="getShiftByCode">
<part name="parameters" element="tns:getShiftByCode"/>
</message>
<message name="getShiftByCodeResponse">
<part name="parameters" element="tns:getShiftByCodeResponse"/>
</message>
<message name="getShiftByTime">
<part name="parameters" element="tns:getShiftByTime"/>
</message>
<message name="getShiftByTimeResponse">
<part name="parameters" element="tns:getShiftByTimeResponse"/>
</message>
<message name="getGroupShiftByCode">
<part name="parameters" element="tns:getGroupShiftByCode"/>
</message>
<message name="getGroupShiftByCodeResponse">
<part name="parameters" element="tns:getGroupShiftByCodeResponse"/>
</message>
<message name="getGroupShiftByTime">
<part name="parameters" element="tns:getGroupShiftByTime"/>
</message>
<message name="getGroupShiftByTimeResponse">
<part name="parameters" element="tns:getGroupShiftByTimeResponse"/>
</message>
<message name="getGroupShiftByGroupId">
<part name="parameters" element="tns:getGroupShiftByGroupId"/>
</message>
<message name="getGroupShiftByGroupIdResponse">
<part name="parameters" element="tns:getGroupShiftByGroupIdResponse"/>
</message>
<portType name="ShiftService">
<operation name="getShiftAll">
<input wsam:Action="http://service.legacy.apsh.com/ShiftService/getShiftAllRequest" message="tns:getShiftAll"/>
<output wsam:Action="http://service.legacy.apsh.com/ShiftService/getShiftAllResponse" message="tns:getShiftAllResponse"/>
</operation>
<operation name="getShiftByCode">
<input wsam:Action="http://service.legacy.apsh.com/ShiftService/getShiftByCodeRequest" message="tns:getShiftByCode"/>
<output wsam:Action="http://service.legacy.apsh.com/ShiftService/getShiftByCodeResponse" message="tns:getShiftByCodeResponse"/>
</operation>
<operation name="getShiftByTime">
<input wsam:Action="http://service.legacy.apsh.com/ShiftService/getShiftByTimeRequest" message="tns:getShiftByTime"/>
<output wsam:Action="http://service.legacy.apsh.com/ShiftService/getShiftByTimeResponse" message="tns:getShiftByTimeResponse"/>
</operation>
<operation name="getGroupShiftByCode">
<input wsam:Action="http://service.legacy.apsh.com/ShiftService/getGroupShiftByCodeRequest" message="tns:getGroupShiftByCode"/>
<output wsam:Action="http://service.legacy.apsh.com/ShiftService/getGroupShiftByCodeResponse" message="tns:getGroupShiftByCodeResponse"/>
</operation>
<operation name="getGroupShiftByTime">
<input wsam:Action="http://service.legacy.apsh.com/ShiftService/getGroupShiftByTimeRequest" message="tns:getGroupShiftByTime"/>
<output wsam:Action="http://service.legacy.apsh.com/ShiftService/getGroupShiftByTimeResponse" message="tns:getGroupShiftByTimeResponse"/>
</operation>
<operation name="getGroupShiftByGroupId">
<input wsam:Action="http://service.legacy.apsh.com/ShiftService/getGroupShiftByGroupIdRequest" message="tns:getGroupShiftByGroupId"/>
<output wsam:Action="http://service.legacy.apsh.com/ShiftService/getGroupShiftByGroupIdResponse" message="tns:getGroupShiftByGroupIdResponse"/>
</operation>
</portType>
<binding name="ShiftServicePortBinding" type="tns:ShiftService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getShiftAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getShiftByCode">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getShiftByTime">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getGroupShiftByCode">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getGroupShiftByTime">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getGroupShiftByGroupId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ShiftServiceService">
<port name="ShiftServicePort" binding="tns:ShiftServicePortBinding">
<soap:address location="http://localhost:8085/Shift"/>
</port>
</service>
</definitions>